/* Estilos generales */

.App {
  text-align: center;
  min-height: 100vh; /* Asegura que el contenedor principal ocupe al menos el 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin: 0;
  font-size: 1.5rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #61dafb;
  color: #282c34;
}

button:hover {
  background-color: #21a1f1;
}

main {
  padding: 20px;
  flex: 1; /* Permite que el contenido principal crezca y ocupe el espacio disponible */
}

/* Estilos para el modo oscuro */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode header {
  background-color: #1e1e1e;
}

.dark-mode button {
  background-color: #bbbbbb;
  color: #121212;
}

.dark-mode button:hover {
  background-color: #999999;
}

.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
}

.scrollTop:hover {
  background-color: #21a1f1;
}

.scrollTop:active {
  background-color: #1e90ff;
}

/* Estilos para el modo oscuro */
.dark-mode .scrollTop {
  background-color: #bbbbbb;
  color: #121212;
}

.dark-mode .scrollTop:hover {
  background-color: #999999;
}

.dark-mode .scrollTop:active {
  background-color: #777777;
}

.price-list {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-image: url('./assets/Fondo de la web.jpg'); /* Imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.price-list table {
  width: 100%;
  border-collapse: collapse;
}

.price-list th,
.price-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para las celdas */
  color: #ffffff; /* Color blanco para el texto */
}

.price-list th.header {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro para los encabezados */
  color: #ffffff;
}

.price-list th.header,
.price-list td {
  border: 1px solid #444444; /* Borde oscuro para las celdas */
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.controls input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.controls button {
  padding: 10px 20px;
  margin-left: 10px;  /* Agrega espacio entre los botones */
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls button:first-of-type {
  margin-left: 0;
}

.controls button:hover {
  background-color: #21a1f1;
}

/* Estilos para el modo oscuro */
.dark-mode .price-list {
  background-color: rgba(30, 30, 30, 0.9); /* Fondo semitransparente para la lista de precios en modo oscuro */
  color: #ffffff;
}

.dark-mode .price-list th.header {
  background-color: rgba(51, 51, 51, 0.9); /* Fondo semitransparente */
  color: #ffffff;
}

.dark-mode .price-list td {
  color: #ffffff;
  border-bottom: 1px solid #444444;
}

.dark-mode .controls input {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}

.dark-mode .controls button {
  background-color: #777777;
  color: #121212;
}

.dark-mode .controls button:hover {
  background-color: #555555;
}

/* Estilos para el pie de página */
.App-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #282c34;
}

.App-footer a {
  color: #61dafb;
  transition: color 0.3s ease;
}

.App-footer a:hover {
  color: #21a1f1;
}

.dark-mode .App-footer {
  background-color: #1e1e1e;
}

.dark-mode .App-footer a {
  color: #ffffff;
}

.dark-mode .App-footer a:hover {
  color: #bbbbbb;
}

/* Estilos para el cartel de bienvenida */
.welcome-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  z-index: 1000;
  background-image: url('./assets/Fondo para cartel de bienvenida.jpg'); /* Fondo del cartel de bienvenida */
  background-size: 78%; /* Ajusta el tamaño de la imagen */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  justify-content: flex-start; /* Alinea elementos al inicio del eje principal */
  padding-top: 20px; /* Añade un poco de espacio desde el borde superior */
}

.welcome-modal h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
  padding: 10px;
  border-radius: 5px;
}

.welcome-modal button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #61dafb;
  color: #282c34;
}

.welcome-modal button:hover {
  background-color: #21a1f1;
}

.dark-mode .welcome-modal {
  background: rgba(30, 30, 30, 0.9);
}

.dark-mode .welcome-modal button {
  background-color: #777777;
  color: #121212;
}

.dark-mode .welcome-modal button:hover {
  background-color: #555555;
}
