.price-list {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .search-container,
  .sort-container {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  th,
  td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  .price-list {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .search-container,
  .sort-container {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  th,
  td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  /* Estilos para el modo oscuro */
  .dark-mode .price-list {
    color: #ffffff;
  }
  
  .dark-mode h1 {
    color: #ffffff;
  }
  
  .dark-mode input[type="text"],
  .dark-mode select {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
  }
  
  .dark-mode table {
    background-color: #1e1e1e;
  }
  
  .dark-mode thead {
    background-color: #333333;
  }
  
  .dark-mode th,
  .dark-mode td {
    border: 1px solid #444444;
  }
  
  .dark-mode tbody tr:nth-child(even) {
    background-color: #2e2e2e;
  }
  
  .dark-mode tbody tr:nth-child(odd) {
    background-color: #1e1e1e;
  }
  